<form [formGroup]="loginForm" (ngSubmit)="sendLoginData()">
  <div class="row mb-3">
    <label for="dni" class="form-label">DNI</label>
    <input class="form-control" type="text" id="dni" formControlName="dni">
  </div>
  <div class="row mb-3">
    <label for="password" class="form-label">Password</label>
    <input class="form-control" type="password" id="password" formControlName="password">
  </div>
  <button class="btn btn-dark" type="submit" [disabled]="!loginForm.valid">Login</button>

  <p>Form value: {{ loginForm.value | json }}</p>
  <p>Status: {{ loginForm.status }}</p>
</form>
